body {
    display: flex;
    flex-direction: row;
    background: var(--left-color);
}

.left, .right {
    width: 50vw;
    height: 100vh;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--right-color);
}

.left > h1  {
    font-size: 3rem;
    font-weight: 500;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--left-color);
}

.right .btn {
    margin-top: 1rem;
    padding-inline: 1.25rem;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .left, .right {
        width: 100vw;
        background: var(--left-color);
    }

    .right, .left {
        height: auto;
    }

}