.hide {
    display: none;
}

.filter-background {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 20%);
}

.edit-ticket-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 20px;
    background-color: var(--background-color);
    width: 60%;
}

.edit-ticket-card .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top h1 {
    font-family: var(--hightlight-font);
    color: var(--highlight-color);
    font-weight: 400;
}

.top p {
    font-family: var(--text-font);
    color: var(--text-color);
    font-weight: bold;
}

.edit-ticket-card .description {
    margin-block: 3rem;
    padding: 1rem;
    border: 1px solid var(--highlight-color);
    border-radius: 10px;
    color: var(--text-color);
    font-family: var(--text-font);
}



