@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto:wght@100;400;500;700;900&display=swap');

:root {
    --highlight-color: #00A0FF;
    --opened-color: #30B900;
    --pending-color: #ABABAB;
    --closed-color: #BF0000;
    --dark-blue: #1C2331;
    --background-color: #252D3D;
    --text-color: #FFF;
    --logo-color: #0077BE;
    --dark-blue-highlight: #001AFF;


    --text-font: 'Roboto', sans-serif;
    --hightlight-font: 'DM Serif Display', serif;
}
