.opened-ticket {
    padding: 1rem;
    border-radius: 20px;
    background-color: var(--dark-blue);
    width: 80%;
    margin-inline: auto;
    border: none;
}

.opened-ticket > .close {
    width: 30px;
    height: fit-content;
    margin-left: auto;
    cursor: pointer;
}

.opened-ticket > .close * {
    fill: var(--text-color);
}

.opened-ticket .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top h1 {
    font-family: var(--hightlight-font);
    color: var(--highlight-color);
    font-weight: 400;
}

.top p {
    font-family: var(--text-font);
    color: var(--text-color);
    font-weight: bold;
}

.opened-ticket .description {
    height: fit-content;
    margin-block: 2rem;
    padding: 1rem;
    border: 1px solid var(--highlight-color);
    border-radius: 10px;
    color: var(--text-color);
    font-family: var(--text-font);
}

.opened-ticket > h2 {
    color: var(--text-color);
    font-size: 1rem;
    font-family: var(--text-font);
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.opened-ticket > p {
    color: var(--highlight-color);
    font-size: 1rem;
    font-family: var(--text-font);
}

.chat {
    background-color: var(--background-color);
}

.chat-display {
    margin-inline: auto;
    padding: 1rem;
    width: 95%;
    height: 50vh;
    max-height: 20rem;
    aspect-ratio: 16/9;
    overflow-y: scroll;
}

.chat-display .left, .chat-display .right {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
    font-family: var(--text-font);
}

.chat-display .right {
    justify-content: end;
}

.chat-display p {
    padding: 0.5rem;
    background-color: var(--text-color);
}

.chat-display img {
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--text-color);
}

/*Send message styling*/

.chat-response {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
    width: 90%;
    height: 5rem;
    padding-bottom: 0.5rem;
    margin-inline: auto;
}

.chat-response textarea {
    color: var(--text-color);
    background-color: var(--dark-blue);
    font-family: var(--text-font);
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    width: 50vw;
    height: 5vh;
    resize: none;
    padding: 1rem;
}

.chat-response > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vh;
    min-width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--highlight-color);
    border: none;
    overflow: hidden;
}

.chat-response > button svg {
    width: 50%;
}

/*Scroll styling*/
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--logo-color);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
    background-color: var(--highlight-color);
}

::-webkit-scrollbar-corner {
    background-color: var(--logo-color);
}

@media screen and (max-width: 780px){
    .chat {
        width: 100%;
    }
}