* {
    margin: 0;
    text-decoration: none;
}

ul, li {
    list-style-type: none;
    padding: 0;
}

body {
    background: var(--background-color);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 12vh;
    background: var(--dark-blue);
}

main {
    display: flex;
    height: 88vh;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--logo-color);
    margin-left: 3%;
}

.logo svg {
    width: 5rem;
    height: 5rem;
    fill: var(--logo-color);
}


header > svg {
    max-width: 2rem;
    max-height: 2rem;
    margin-right: 3%;
}

.add-btn {
    fill: var(--logo-color);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--dark-blue);
    width: max-content;
    height: 100%;
}

ul {
    margin-top: 30%;
    width: 90%;
    padding-inline: 4rem;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    color: var(--text-color);
    font-size: 1.25rem;
    font-family: var(--text-font);
    border-radius: 0.5rem;
    padding: 0.85rem 0.4rem 0.85rem 1.3rem;
}

li[selected = "true"] {
    background-color: var(--highlight-color);
}

li[selected = "false"]:hover {
    background-color: rgba(255, 255, 255, 20%);
}


.nav-item > svg, .nav-item path {
    max-width: 1.75rem;
    max-height: 1.75rem;
    fill: var(--text-color);
}

.user-info {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: rgba(0, 160, 255, 20%);
    width: 100%;
    padding-block: 0.75rem;
}

.square {
    width: 2.5rem;
    height: 2.5rem;
}

.square img {
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.name, .role {
    color: var(--text-color);
    font-family: var(--text-font);
}
.name {
    font-size: 0.75rem;
}
.role {
    font-size: 0.7rem;
    font-weight: lighter;
}

.log-out {
    fill: var(--text-color);
    width: 1.25rem;
    height: max-content;
}

