.ticket {
    font-family: var(--text-font);
    background-color: transparent;
    width: 15rem;
    height: 16rem;
    perspective: 1000px;
}

.innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.ticket:hover .innerCard {
    transform: rotateY(-180deg);
}

.frontSide,
.backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
    color: var(--highlight-color);
    font-weight: 700;
}

.frontSide,
.frontSide::before {
    background: var(--dark-blue);
}

.backSide,
.backSide::before {
    background: var(--dark-blue);
}

.backSide {
    transform: rotateY(180deg);
}

/*Card frontside*/
.ticket .state {
    width: 85%;
    font-size: 1rem;
    text-align: end;
    margin-top: 3%;
}

.ticket .title {
    width: 85%;
    color: var(--highlight-color);
    font-size: 1.25rem;
    font-weight: bold;
    text-align: start;
    margin-top: 4%;
}

.ticket .description {
    width: 85%;
    color: var(--text-color);
    font-size: 0.9rem;
    font-weight: 400;
    text-align: start;
    margin-top: 5%;
}

.ticket .hashtags {
    width: 85%;
    color: var(--text-color);
    font-size: 0.8rem;
    font-weight: 300;
    text-align: end;
    margin-top: auto;
}

.ticket .created {
    width: 85%;
    color: var(--text-color);
    font-size: 1.15rem;
    font-weight: 300;
    text-align: end;
    margin-bottom: 5%;
}

/*Card backside*/

.backSide h2 {
    font-size: 1.25rem;
    font-weight: 800;
    margin-top: 13%;
    margin-bottom: 5%;
}

.backSide .agent, .department {
    color: var(--text-color);
    font-size: 1.25rem;
    font-weight: 500;
}

.backSide span {
    color: var(--highlight-color);
}

.backSide .circle {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: relative;
    margin-top: 8%;
}

.backSide .circle img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.backSide .date, .time {
    font-weight: 400;
    width: 85%;
    text-align: end;
}
.backSide .date {
    color: var(--text-color);
    margin-top: auto;
}

.backSide .time {
    margin-bottom: 5%;
}

.tickets-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3% 0 0 0;
    overflow-x: hidden;
    overflow-y: scroll;
}


.ticket[state="pending"] .state {
    color: var(--pending-color);
}

.ticket[state="open"] .state {
    color: var(--opened-color);
}

.ticket[state="closed"] .state {
    color: var(--closed-color);
}

